@font-face
{
font-family: "Nexa Bold";
src: url("../content/fonts/Nexa Bold.otf");
    
font-family: "Nexa Light";
src: url("../content/fonts/Nexa Light.otf");
} 

*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.banner-img
{
    background-image: url(../content/Sunnysocksbanner.png);
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.9;
    background-size: cover;
    height: 60vh;
    position: relative;
} 


.banner-text
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 10rem;
}

.button
{
    display: inline-block;
    padding: 5px 50px;
    margin-top: 5rem;
    color: white;  
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    background-color: #1e1e1e;
}

.button:hover 
{
    opacity: 0.8;
    background-color: white;
    color: #1e1e1e;
}

.center
{
    display: flex;
    justify-content: center;
    background-color: #FFB729;
    border-radius: 50px;
    margin: 2rem auto;
    width: 75%; 
}

.sock-container
{
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
    padding-inline: 2rem;
    padding-bottom: 2rem;
    transition: transform .2s;
}

.productCard
{
    text-decoration: none;
}   

.productCard:hover
{
    opacity: 0.9;
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
}

.card
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #1e1e1e;
    border-radius: 8px;
    padding: 1rem;
    width: 200px;
}

.card img
{
    max-width: 10rem;
    max-height: 9rem;
}

.sunny-container
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: #10565d;
    justify-content: center;
}

.sunny-container h1
{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.sunny-container img
{
    height: 10rem;
    width: 10rem;
    background-color: #FFE5E5;
    border-radius: 50%;
}

.merkwaarden
{
    text-align: center;
    color: #ffffff;
}

.grid-item
{
    display: grid;
    place-items: center;
    margin: 3rem;
    border-radius: 15px;
    text-align: center; 
    background-size: 100%;  
    padding-block: 1rem;
    padding-inline: 1rem;
}

.positiviteit
{
    background-color: #FFE5E5;
}

.gunstig
{
    background-color: #E5ECFF;
    margin: 1rem;
}

.kleurrijk
{
    background-color: #FEFFE5;
}

.black
{
    background-color: #1e1e1e;
    color: #ffffff;
}

.white
{
    background: #ffffff;
    border-color: #1e1e1e;
    color: #1e1e1e;
}