*
{
    margin: 0;
    box-sizing: border-box;
}

.overons
{
    width: 100vw;
    height: 200vh;
}

.headtitle
{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 8rem;
    font-weight: 200;
    font-size: 48px;
    line-height: 8rem;
}

.contentoverons
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 65%;
    margin-inline: 3rem;
}

.overonsinfo
{
    display: grid;
    height: auto;
    grid-column: 1;
    padding-right: 3rem;
    grid-template-rows: 0.6fr 1.4fr 1fr 1.2fr 1.2fr
}

.overonsinfotitel
{
    display: grid;
    height: 1rem;
    padding-inline: 6rem;
    grid-row: 1;
    line-height: 8rem;
    font-weight: bolder;
    font-size: 48px;
}

.overonsinfotitel > h2
{
    margin-top: 0.2rem;
}

.overonsinfotitel > p
{
    height: 2rem;
    padding-inline: 3rem;
}

.overonsinfosec1
{
    background-color: rgb(98, 168, 98);
    color: white;
    width: 90%;
    height: 20rem;
    font-size: 22px;
    padding-inline: 0.7rem;
    padding-block: 0.7rem;
    border-radius: 1rem;
}

.overonsinfosec1 > .titlesec1
{
    font-weight: bold;

}

.overonsinfosec2
{
    width: 90%;
    font-size: 24px;
    font-family: "Nexa Light";
}

.overonsinfosec2 > .titlesec2
{
    color: rgb(98, 168, 98);
    font-weight: bold;
    font-family: "Nexa Bold";

}

.overonsinfosec3
{
    width: 90%;
    font-size: 24px;
    font-family: "Nexa Light";
}

.overonsinfosec3 > .titlesec3
{
    color: rgb(98, 168, 98);
    font-weight: bold;
    font-family: "Nexa Bold";

}

.overonsinfobanner
{
    width: 90%;
    padding-inline: 0.5em;
    padding-block: 1em;
}

.overonsinfobanner > img
{
    width: 100%;
    border-radius: 1em;
}

.overonstijdlijn
{
    display: grid;
    padding-block: 2rem;
    padding-right: 1.5rem;
    grid-column: 2;
    grid-template-rows: repeat(5, 0.7fr);
    font-family: "Nexa Light";
}

.overonstijdlijnsec1
{
    background-color: rgb(255, 229, 229, 100%);
    padding: 1.5rem;
    border-top-left-radius: 2em;
}

.overonstijdlijnsec1 > .jaarTijdlijn
{
    font-size: 32px;
    font-weight: bolder;
    color: rgb(251, 112, 112, 100%);
}

.overonstijdlijnsec1 > .titelTijdlijn
{
    font-size: 28px;
    font-weight: bolder;
    color: rgb(251, 112, 112, 100%);
}

.overonstijdlijnsec1 > .textTijdlijn
{
    font-size: 20px;
}

.overonstijdlijnsec2
{
    background-color: rgb(229, 236, 255, 100%);
    padding: 1.5rem;
}

.overonstijdlijnsec2 > .jaarTijdlijn
{
    font-size: 32px;
    font-weight: bolder;
    color: rgb(72, 96, 217, 100%);
}

.overonstijdlijnsec2 > .titelTijdlijn
{
    font-size: 28px;
    font-weight: bolder;
    color: rgb(72, 96, 217, 100%);
}

.overonstijdlijnsec2 > .textTijdlijn
{
    font-size: 20px;
}

.overonstijdlijnsec3
{
    background-color: rgb(254, 255, 229, 100%);
    padding: 1.5rem;
}

.overonstijdlijnsec3 > .jaarTijdlijn
{
    font-size: 32px;
    font-weight: bolder;
    color: rgb(232, 204, 53, 100%);
}

.overonstijdlijnsec3 > .titelTijdlijn
{
    font-size: 28px;
    font-weight: bolder;
    color: rgb(232, 204, 53, 100%);
}

.overonstijdlijnsec3 > .textTijdlijn
{
    font-size: 20px;
}

.overonstijdlijnsec4
{
    background-color: rgb(229, 255, 230, 100%);
    padding: 1.5rem;
}

.overonstijdlijnsec4 > .jaarTijdlijn
{
    font-size: 32px;
    font-weight: bolder;
    color: rgb(66, 210, 64, 100%);
}

.overonstijdlijnsec4 > .titelTijdlijn
{
    font-size: 28px;
    font-weight: bolder;
    color: rgb(66, 210, 64, 100%);
}

.overonstijdlijnsec4 > .textTijdlijn
{
    font-size: 20px;
}

.overonstijdlijnsec5
{
    background-color: rgb(255, 231, 214, 100%);
    padding: 1.5rem;
    border-bottom-right-radius: 2em;
}

.overonstijdlijnsec5 > .jaarTijdlijn
{
    font-size: 32px;
    font-weight: bolder;
    color: rgb(247, 147, 55, 100%);
}

.overonstijdlijnsec5 > .titelTijdlijn
{
    font-size: 28px;
    font-weight: bolder;
    color: rgb(247, 147, 55, 100%);
}

.overonstijdlijnsec5 > .textTijdlijn
{
    font-size: 20px;
}
