body
{
    margin: 0;
    padding: 0;
    background-color:whitesmoke;
}

.container {
    margin: 0 ;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
}

h1{
    color: grey;
}

h2 {
    color: grey;
}

h3{
    padding-left: 20px;
    color:grey;
}

.product-section {
    
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
    align-items: start; 
    padding: 20px;
}

.product-details{
    display: grid;
    grid-template-rows: auto auto auto auto; 
    gap: 15px; 
}

.product-img{
    display: flex;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 30px;
}

.product-img img {
    width: 100%;
    max-width: 300px; 
    border-radius: 8px;
}

.price {
    color: orangered;
    font-size: 2rem;
    margin: 10px ;
}

.product-options {
    margin: 20px ;
}

.add-to-cart {
    background-color: green;
    color: white;
    padding: 10px;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: #218838;
}

.description-section {
    margin-top: 20px ;
}

.reviews-section {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: space-between; 
    padding: 20px; 
}

.review {
    flex: 1 1 200px; 
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 8px;
    text-align: center;
    box-sizing: border-box; 
    max-width: 400px; 
}


  

  


