@font-face
{
font-family: "Nexa Bold";
src: url("../content/fonts/Nexa Bold.otf");
}

@font-face 
{
font-family: "Nexa Light";
src: url("../content/fonts/Nexa Light.otf");
}

*
{
  margin: 0;
  box-sizing: border-box;
}

:is(h1, h2, h3, h4, h5, h6)
{
  font-family: "Nexa Bold";
}

:is(p, input)
{
  font-family: "Nexa Light";
}

.wit
{
  color: white;
}

header
{
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  height: 6rem;
  background-color: #10565D;
  justify-content: space-between;
}

header > img
{
  margin: 5px;
  padding: 0 5rem 0 2rem;
}

.zoeken
{
  background-color: white;
  color: black;
  border-radius: 1rem;
  width: 30%;
  height: 3rem;
  display: flex;
  padding: 0 1rem;
  margin: 1.5rem 1rem;
}

.zoeken > form
{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 3rem;
  align-items: center;
  width: 100%;
  text-align: start;
}

.zoeken > form > input[type="text"]
{
  border-style: none;
  width: 100%;
  margin-right: auto;
}

.zoeken > form > input[type="text"]:focus
{
  border-style: none;
  outline: none;
}

.menu
{
  margin: 0 2rem 0 5rem;
  justify-content: center;
}


.menu > ul
{
  display: flex;
  list-style-type: none;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
}

.menuMargin
{
  margin: 2rem 1rem;
}

.headerMenu
{
  font-family: "Nexa Bold";
  font-size: 24px;
  text-decoration: none;
  padding: 1rem 0;
  white-space: nowrap;
}

.headerMenu:hover
{
  background-color: white;
  color: black;
  border-radius: 1rem;
}

.headerMenu.active
{
  background-color: white;
  color: black;
  border-radius: 1rem;
}

.fotoHeader
{
  width: 3rem;
  height: 3rem;
  text-decoration: none;
  cursor: pointer;
  margin: 1.5rem 1rem;
}

.fotoHeader:hover
{
  filter:invert(1);
}

footer
{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 95% 5%;
  background-color: #10565D;
  font-size: 20px;
  margin-top: 2rem;
}

footer > div
{
  margin: 2rem;
}

.footerLogo
{
  width: 75%;
  padding-bottom: 2rem;
}

.footerLocaties
{
  padding-left: 2.5rem;
}

.footerLocaties > address
{
  margin: 0.5rem;
  font-size: 16px;
}

.footerInfo
{
  text-decoration: none;
  font-family: "Nexa Light";
}

.footerInfo:hover
{
  text-decoration: underline 1px white;
}

.footerSocial
{
  padding-left: 5rem;
}

.footerSocials
{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.footerFlex
{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0.5rem;
}

.footerFlex > a > img
{
  width: 4rem;
  margin-right: 1rem;
}

.footerCopyright
{
  grid-column: 1 / span 3;
  background-color: #092629;
  text-align: center;
  height: fit-content;
}