@font-face
{
font-family: "Nexa Bold";
src: url("../content/fonts/Nexa Bold.otf");
}

@font-face 
{
font-family: "Nexa Light";
src: url("../content/fonts/Nexa Light.otf");
}

*
{
  margin: 0;
  box-sizing: border-box;
}

:is(h1, h2, h3, h4, h5, h6)
{
  font-family: "Nexa Bold";
}

p
{
  font-family: "Nexa Light";
}

header
{
  display: flex;
  flex-direction: row;
  position: sticky;
  height: 6rem;
  background-color: #10565D;
  color: white;
}

header > img
{
  margin: 5px;
  padding-right: 5rem;
  padding-left: 2rem;
}

.zoeken
{
  background-color: white;
    color: black;
    border-radius: 1rem;
    width: 30%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    margin: 1.5rem 1rem;
}

.menu
{
  display: flex;
  margin: auto 5rem;
  justify-content: center;
}

.headerMenu
{
  font-family: "Nexa Bold";
  background-color: #10565D;
  border: none;
  padding: 1rem;
  color: white;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  margin: auto;
}

.headerMenu:hover
{
  background-color: white;
  color: black;
  border-radius: 1rem;
}

.fotoHeader
{
  width: 3rem;
  height: 3rem;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin: 1.5rem 1rem;
}

.fotoHeader:hover
{
  filter:invert(1);
}

.height
{
  height: 75vh;
}

footer
{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 95% 5%;
  background-color: #10565D;
  font-size: 20px;
  margin-top: 2rem;
}

footer > div
{
  margin: 2rem;
  color: white;
}

.footerLogo
{
  width: 75%;
  padding-bottom: 5rem;
}

.footerLocaties
{
  padding-left: 2.5rem;
}

.footerLocaties > p
{
  margin: 1rem 0.5rem;
}

.footerInfo
{
  text-decoration: none;
  color: white;
  font-family: "Nexa Light";
}

.footerInfo:hover
{
  text-decoration: underline 1px white;
}

.footerSocial
{
  padding-left: 5rem;
}

.footerSocials
{
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

.footerFlex
{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0.5rem;
}

.footerFlex > a > img
{
  width: 4rem;
  margin-right: 1rem;
}

.footerCopyright
{
  grid-row: 2;
  grid-column: 1 / span 3;
  background-color: #092629;
  text-align: center;
  color: white;
}