*
{
    margin: 0;
}

main
{
    overflow: hidden;
}

footer
{
  margin-top: 0;
}

.winkelwagenbanner
{
    background-image: url(../content/Winkelwagenportrait.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    padding-inline: 3rem;
}

.contentwinkelwagen 
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 150vh;
}

.winkelwagen
{
    display: grid;
    grid-column: 1;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr;
    background-color: rgb(137, 189, 185, 35%);
    margin-bottom: 5rem;
    margin-top: 1rem;
    margin-inline: 3rem;
    border-radius: 1.5rem;
}

.winkelwagen > h2
{
    background-color: white;
    color: rgb(55, 63, 92, 100%);
    grid-column: 1/3;
    width: 100%;
    font-size: 2.5rem;
    line-height: 6rem;
}

.cancelbutton
{
    width: 4rem;
    height: 2rem;
    padding-right: 1rem;
    cursor: pointer;
}

.wwproduct1
{
    display: flex;
    padding-inline: 1rem;
    padding-top: 0.5rem;
    color: rgb(52, 52, 74);
    max-width: 80%;
    max-height: 80%;
    font-size: 1.2rem;
    font-weight: bold;
    align-items: center;
}

.productimg
{
    max-width: 60%;
    max-height: 80%;
    border-style: solid;
    border-radius: 0.5rem;
    border-width: 1px;
}

.pinfo
{
    padding-left: 1rem;
    width: 12rem;
    line-height: 1.7rem;
}

.wwproduct1prijs
{
    display: flex;
    grid-column: 2;
    color: rgb(52, 52, 74);;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-left-style: solid;
    border-color: rgba(67, 124, 124, 10%);
}

.wwproduct2
{
    display: flex;
    padding-inline: 1rem;
    padding-top: 0.5rem;
    color: rgb(52, 52, 74);
    max-width: 80%;
    max-height: 80%;
    font-size: 1.2rem;
    font-weight: bold;
    align-items: center;
}

.wwproduct2prijs
{
    display: flex;
    grid-column: 2;
    color: rgb(52, 52, 74);;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-left-style: solid;
    border-color: rgba(67, 124, 124, 10%);
}

.wwproduct3
{
    display: flex;
    padding-inline: 1rem;
    padding-top: 0.5rem;
    color: rgb(52, 52, 74);
    max-width: 80%;
    max-height: 80%;
    font-size: 1.2rem;
    font-weight: bold;
    align-items: center;
}

.wwproduct3prijs
{
    display: flex;
    grid-column: 2;
    color: rgb(52, 52, 74);;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-left-style: solid;
    border-color: rgba(67, 124, 124, 10%);
}

.wwinfo
{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    border-top-style: solid;
    border-color: rgba(67, 124, 124, 10%);
}

.wwinfo > img
{
    width: 75%;
    height: 60%;
}

.totaalprijs
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    font-family: "Nexa Bold";
    font-weight: bold;
    font-size: 1.3rem;
    border-left-style: solid;
    border-color: rgba(67, 124, 124, 10%);
    border-top-style: solid;
}