body 
{
  margin: 0;
  width: 100vw;
  height: 200vh;
}

main > h1 
{
  color: red;
  font-size: large;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

div
{
  color: sandybrown;
}

header
{
  display: flex;
  position: sticky;
  height: 100px;
  color: turquoise;
  width: 100%;
}

header > p
{
  color: grey;
}
